.navbar {
  height: 50px;
}
.list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: auto;
  list-style: none;
  padding-top: 10px;
  padding-right: 10px;
}

.list-item {
}

.list-item a {
  text-decoration: none;
  color: black;
}
