.homepage {
  background-color: #3aafa9;
  height: 100vh;
}

.homepage-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 80%;
}

.homepage-boxes {
  display: flex;
  justify-content: space-evenly;
}

.green {
  background-color: green !important;
}
